/* Global Variables */
.app {
  /* Background Variables */
  --background-color: hsl(191 76% 90%);
  --blob-color: hsl(203 50% 80% / 0.65);

  /* Button Variables */
  --button-background-color: hsl(230 54% 40%);
  --button-color: hsl(220 43% 97%);
  --button-hover: hsl(230 60% 25%);
  --button-font-weight: 400;

  /* Nav Button Variables */
  --icon-color: hsl(232 45% 31%);
  --nav-button-hover: hsl(0 3% 65% / 0.243);

  /* Start Variables */
  --start-title: hsl(230 45% 22%);
  --start-description: hsl(232 45% 31%);

  /* Question Variables */
  --question-color: hsl(230 58% 17%);

  /* Answer Variables */
  --answer-background-color: hsl(0 0% 100%);
  --answer-pick: hsl(230 92% 84%);
  --answer-correct: hsl(116 74% 58%);
  --answer-wrong: hsl(0 99% 65%);
  --opacity: 0.67;

  --transition-time: none;
}

.app.dark--mode {
  /* Dark Background Variables */
  --background-color: hsl(221 70% 16%);
  --blob-color: hsl(203 50% 80% / 0.1);

  /* Dark Button Variables */
  --button-background-color: hsl(240 30% 80%);
  --button-color: hsl(220 76% 16%);
  --button-hover: hsl(240 30% 93%);
  --button-font-weight: 700;

  /* Dark top Button Variables */
  --icon-color: hsl(237 55% 92%);

  /* Dark Start Variables */
  --start-title: hsl(231 12% 78%);
  --start-description: hsl(231 62% 85%);

  /* Dark Question Variables */
  --question-color: hsl(237 55% 92%);

  /* Dark Answer Variables */
  --answer-background-color: hsl(215 70% 38%);
  --answer-pick: hsl(230 51% 35%);
  --answer-correct: hsl(120 85% 30%);
  --answer-wrong: hsl(0 83% 45%);
  --opacity: 0.5;
}

.app.loaded {
  --transition-time: 0.3s;
}

/* General */
html,
body {
  overflow-x: hidden;
}

.app,
.start--body {
  min-height: 100vh;
}

.app {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: var(--background-color);

  transition: var(--transition-time);
}

.button {
  font-family: 'Inter';
  font-size: 0.75rem;
  font-weight: var(--button-font-weight);

  background-color: var(--button-background-color);
  color: var(--button-color);

  width: 120px;

  padding: 12px;
  border: 0;
  border-radius: 12px;

  cursor: pointer;
  transition: var(--transition-time);
}

.button:hover,
.button:focus {
  background-color: var(--button-hover);

  outline: none;

  scale: 1.05;
}

.button:active {
  background-color: var(--button-hover);

  scale: 0.97;
}

.button.disabled {
  filter: brightness(0.8);
  opacity: 0.8;
  transition: none;
  cursor: default;
}

.button.disabled:hover,
.button.disabled:focus {
  background-color: var(--button-background-color);
  scale: 1;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;

  text-align: center;
  font-family: 'karla';
  font-size: 1.2rem;

  color: var(--start-title);

  transform: translate(-50%, -50%);
}

input {
  display: none;
}

/* Background */
.blobs {
  position: absolute;

  width: 450px;
  aspect-ratio: 1;
}

.blobs > path {
  fill: var(--blob-color);

  scale: 3;
  transition: var(--transition-time);
}

.blob-1 > path {
  translate: 10% 40%;
  animation: hover-from-top 50s infinite linear;
}

.blob-2 {
  right: 0;
  bottom: 0;
}

.blob-2 > path {
  translate: 70% 65%;
  animation: hover-from-bottom 55s infinite linear;
}

/* Nav Section */
.nav {
  display: flex;

  padding: 1rem 1rem 0 1rem;

  z-index: 3;
}

.nav--button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.8rem;

  background: none;
  color: var(--icon-color);

  width: 50px;
  height: 50px;

  border: none;
  border-radius: 50%;

  transition: background-color var(--transition-time);
}

.nav--button:hover,
.nav--button:focus {
  background-color: var(--nav-button-hover);

  outline: none;

  cursor: pointer;
}

#dark--mode--button {
  margin-left: auto;
}

#return--button > .icon {
  font-size: 2rem;

  margin-right: 3px;
}

/* Start Page */
.start--body {
  position: absolute;
  top: 0;
  left: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: translateX(-50%);
  z-index: 2;
}

.start--title {
  text-align: center;
  font-family: 'Karla';
  font-size: 1.8rem;
  font-weight: 700;

  color: var(--start-title);

  margin: 0;

  transition: var(--transition-time);
}

.start--description {
  text-align: center;
  font-family: 'Inter';
  font-size: 0.75rem;
  font-weight: 600;

  color: var(--start-description);

  margin: 8px 0 24px 0;

  transition: var(--transition-time);
}

#configuration {
  display: flex;
  justify-content: center;

  margin-bottom: 20px;
}

#configuration > div {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 150px;

  margin-inline: 1.3rem;
}

.config--label {
  font-family: 'Inter';
  font-size: 0.75rem;
  font-weight: 600;

  color: var(--start-description);

  margin-bottom: 6px;

  transition: var(--transition-time);
}

.config--select {
  font-size: 0.675rem;

  background-color: var(--button-background-color);
  color: var(--button-color);

  width: 70px;

  padding: 3px;
  border: 0.09375rem solid;
  border-radius: 6px;

  transition: var(--transition-time);
}

.config--select:hover,
.config--select:focus {
  background-color: var(--button-hover);

  outline: none;

  cursor: pointer;
}

/* Quiz Page */
.quiz--body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  gap: 1rem;

  text-align: center;

  padding: 0 1rem 1rem 1rem;

  z-index: 2;
}

.quiz--question-component {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;

  width: 100%;
}

.quiz--question {
  font-family: 'Karla';
  font-size: 15px;
  font-weight: 700;

  color: var(--question-color);

  max-width: 90%;

  padding: 0.23475rem;
  margin: 0;

  transition: var(--transition-time);
}

/* Answers Section */
.quiz--answers-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  max-width: 95%;
}

.quiz--answer {
  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 0.55rem;
  font-family: 'Inter';
  font-size: 0.67rem;
  font-weight: 700;

  background-color: var(--answer-background-color);
  color: var(--question-color);

  padding: 13px;
  border: 0.09375rem solid;
  border-radius: 14px;

  transition: var(--transition-time);
}

.quiz--answers-container:has(.correct) > :not(.picked, .correct) {
  opacity: var(--opacity);
}

.quiz--answers-container:not(:has(.correct)) > .quiz--answer:hover,
.quiz--answer:focus {
  background-color: var(--answer-pick);

  border: 0.09375rem solid var(--answer-pick);
  cursor: pointer;
}

.picked {
  background-color: var(--answer-pick);
  border: 0.09375rem solid var(--answer-pick);
}

.correct {
  background-color: var(--answer-correct);
  border: 0.09375rem solid var(--answer-correct);
}

.wrong {
  background-color: var(--answer-wrong);
  border: 0.09375rem solid var(--answer-wrong);
}

/* Results Section */
.result--container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 10px;
}

.result {
  font-family: 'Inter';
  font-size: 0.675rem;
  font-weight: 900;

  color: var(--start-title);

  margin-right: 1rem;

  transition: var(--transition-time);
}

/* Animations */
@keyframes hover-from-top {
  20% {
    translate: 11% 41%;
    rotate: 3deg;
  }
  40% {
    translate: 13% 43%;
    rotate: 5deg;
  }
  60% {
    translate: 13% 43%;
    rotate: -3deg;
  }
  80% {
    translate: 11% 41%;
    rotate: -5deg;
  }
}

@keyframes hover-from-bottom {
  20% {
    translate: 69% 64%;
    rotate: -3deg;
  }
  40% {
    translate: 67% 62%;
    rotate: -5deg;
  }
  60% {
    translate: 67% 62%;
    rotate: 3deg;
  }
  80% {
    translate: 69% 64%;
    rotate: 5deg;
  }
}

/* Queries */
@media (prefers-reduced-motion) {
  .blobs > path {
    animation: none;
  }
}
