/* Global variables */
:root {
    /* Background variables */
    --background-color: #d7edf3;
    --background-color-dark: #1e2650;

    /* Main button variables */
    --button-background-color:  #4D5B9E;
    --button-background-color-dark: #c0beb3;
    --button-color: #F5F7FB;
    --button-color-dark: #0a1f49;
    --button-hover: #283368;
    --button-hover-dark: #ffffff;

    /* Secondary button variables */
    --sec--button--hover: rgba(169, 163, 163, 0.242);

    /* Start variables */
    --start-title: #1e2650;
    --start-title-dark: #dedfe5;
    --start-description: #2c3674;
    --start-description-dark: #c3caf1;

    /* Question variables */
    --question-background-color: ;
    --question-background-color-dark: ;
    --question-color: #121a44;
    --question-color-dark: #e9e7da;

    /* Answer variables */
    --answer-color: #ffffff;
    --answer-color-dark: #0b102dcf;
    --answer-pick: #bac2ebd5;
    --answer-pick-dark: #25379f;
    --answer-correct: #52e448;
    --answer-correct-dark: rgb(12, 143, 12);
    --answer-wrong: #fe3535;
    --answer-wrong-dark: rgb(209, 19, 19);
}

/* General */
* {
    margin: 0;
}

main {
    background-color: var(--background-color);
    position: relative;
    transition: all 0.3s;
}

main.dark--mode {
    background-color: var(--background-color-dark);
}

input {
    display: none;
}

/* Dark mode button */
#dark--mode--button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25px;
    right: 35px;
    height: 50px;
    width: 50px;
    padding: 0;
    background: none;
    border: none;
    border-radius: 100%;
    transition: all 0.3s;
}

#dark--mode--button:hover,
#dark--mode--button:focus {
    cursor: pointer;
    background-color: var(--sec--button--hover);
}

.icon {
    font-size: 1.8rem;
    color: #2c3674;
}

.icon.dark--mode {
    color: #d4cfaf;
}

/* Return button */
#return--button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25px;
    left: 35px;
    height: 50px;
    width: 50px;
    padding: 0;
    background: none;
    border: none;
    border-radius: 100%;
    transition: all 0.3s;
}

#return--button:hover {
    cursor: pointer;
    background-color: var(--sec--button--hover);
}

#return--button .icon{
    margin-right: 3px;
}

/* Loading screen */
.loading {
    background-color: var(--background-color);
    color: var(--start-title);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'karla';
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}

.loading.dark--mode{
    background-color: var(--background-color-dark);
    color: var(--start-title-dark);
}

/* Button section */
.button {
    font-family: 'Inter';
    font-size: 0.75rem;
    line-height: 0.890625rem;
    width: 7.5rem;
    color: var(--button-color);
    background-color: var(--button-background-color);
    padding: 0.75rem;
    border: 0;
    border-radius: 0.5625rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
}

.button.dark--mode {
    background-color: var(--button-background-color-dark);
    color: var(--button-color-dark);
    font-weight: 700;
}

.button:hover,
.button:focus {
    background-color: var(--button-hover);
}

.button.dark--mode:hover,
.button.dark--mode:focus {
    background-color: var(--button-hover-dark);
}

.button:active {
    background-color: var(--button-hover);
    transform: scale(0.97) translateY(2px);
}

/* Start section */
.start--body {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.start--title {
    font-family: 'Karla';
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.73475rem;
    text-align: center;
    color: var(--start-title);
    transition: color 0.3s;
}

.start--title.dark--mode {
    color: var(--start-title-dark);
}

.start--description {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 0.9rem;
    text-align: center;
    color: var(--start-description);
    margin: 8px 0 24px 0;
    transition: color 0.3s;
}

.start--description.dark--mode {
    color: var(--start-description-dark);
}

#start--configuration {
    display: flex;
    width: 45%;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#start--configuration div {
    display: flex;
    min-width: 150px;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 0.9rem;
    color: var(--start-description);
    margin-bottom: 6px;
    transition: color 0.3s;
}

label.dark--mode {
    color: var(--start-description-dark);
}

select {
    padding: 2px;
    font-size: 0.675rem;
    border-radius: 3px;
    width: 70px;
    border: 0.09375rem solid;
    background-color: var(--button-background-color);
    color: var(--button-color);
    transition: background-color 0.3s, color 0.3s;
}

select:hover,
select:focus {
    cursor: pointer;
    background-color: var(--button-hover);
}

select.dark--mode {
    background-color: var(--button-background-color-dark);
    color: var(--button-color-dark);
}

select.dark--mode:hover,
select.dark--mode:focus {
    cursor: pointer;
    background-color: var(--button-hover-dark);
}

/* Questions section */
.questions--body {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.questions--question-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
}

.questions--question {
    font-family: 'Karla';
    font-weight: 700;
    font-size: 0.9525rem;
    line-height: 1.05rem;
    color: var(--question-color);
    padding: 0.23475rem;
    width: 40%;
}

.questions--question.dark--mode {
    color: var(--question-color-dark);
}

/* Answers section */
.questions--answers-container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-block: 8px;
    flex-wrap: wrap;
}

.questions--answer {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 0.675rem;
    line-height: 0.5625rem;
    background-color: var(--answer-color);
    margin: 0.375rem;
    padding: 0.75rem;
    border: 0.09375rem solid;
    border-radius: 0.75rem;
    cursor: pointer;
    color: var(--question-color);
    transition: all 0.3s;
}

.questions--answer.dark--mode {
    background-color: var(--answer-color-dark);
    color: var(--question-color-dark);
}

.questions--answer:hover {
    background-color: var(--answer-pick);
    border: 0.09375rem solid var(--answer-pick);
}

.questions--answer.dark--mode:hover {
    background-color: var(--answer-pick-dark);
    border: 0.09375rem solid var(--answer-pick-dark);
}

.picked {
    background-color: var(--answer-pick);
    border: 0.09375rem solid var(--answer-pick);
}

.dark--mode.picked {
    background-color: var(--answer-pick-dark);
    border: 0.09375rem solid var(--answer-pick-dark);
}

.correct {
    background-color: var(--answer-correct);
    border: 0.09375rem solid var(--answer-correct);
}

.dark--mode.correct {
    background-color: var(--answer-correct-dark);
    border: 0.09375rem solid var(--answer-correct-dark);
}

.wrong {
    background-color: var(--answer-wrong);
    border: 0.09375rem solid var(--answer-wrong);
}

.dark--mode.wrong {
    background-color: var(--answer-wrong-dark);
    border: 0.09375rem solid var(--answer-wrong-dark);
}

/* Result section */
.result--container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.result {
    color: var(--start-title);
    font-family: 'Inter';
    font-weight: 900;
    font-size: 0.675rem;
    margin-right: 1rem;
    transition: color 0.3s;
}

.result.dark--mode {
    color: var(--start-title-dark);
}